.container {
  width: 50vw;
  margin: auto;
  padding: 50px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  background: #710f90;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.action-buttons button:hover {
  background: #5a0c6f;
}

.table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background: #fff;

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    color: black;
    background: #f2f2f2;
  }
}


