.layout-body {
  display: flex;
  flex-direction: column;
  //height: calc(100vh - 60px - 40px);
}

app-sidebar-component {
  width: 250px;
}

.layout-content {
  //flex: 1;
  overflow-y: auto;
  padding: 2rem;
  background: #f9fafb;
}
