.detail-container {
  width: 50%;
  margin: auto;
  padding: 50px;
}

.card {
  padding: 15px;
  border: 1px solid #ccc;
  background: #fafafa;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  cursor: pointer;
}



