<div class="container">

  <h2>Gestion du Personnel (Staff)</h2>

  <div class="filter-box">
    <label>Rechercher par agence :</label>
    <input type="number"
           placeholder="ID agence"
           [(ngModel)]="selectedAgenceId"
           (change)="loadStaffByAgence()">
  </div>
  <hr>

  <form [formGroup]="staffForm" (ngSubmit)="submit()">
    <input type="text" formControlName="staffName" placeholder="Nom du staff">

    <input type="text" formControlName="staffPhone" placeholder="Téléphone 9 chiffres">

    <input type="email" formControlName="staffEmail" placeholder="Email">

    <input type="text" formControlName="matricule" placeholder="Matricule">

    <input type="number" formControlName="agenceId" placeholder="ID de l'agence">

    <button type="submit">
      {{ editMode ? 'Modifier' : 'Ajouter' }}
    </button>

    @if (editMode) {
      <button type="button" (click)="resetForm()">Annuler</button>
    }
  </form>

  <hr>


  @if (!loading && errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  @if (!loading && staffList.length > 0) {
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Matricule</th>
        <th>Agence</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        @for (s of staffList; track s.id) {
          <tr>
            <td>{{ s.id }}</td>
            <td>{{ s.staffName }}</td>
            <td>{{ s.staffPhone }}</td>
            <td>{{ s.staffEmail }}</td>
            <td>{{ s.matricule }}</td>
            <td>{{ s.agenceId }}</td>

            <td>
              <div class="action-buttons">
              <button (click)="edit(s)"><span class="material-icons">edit</span>Modifier</button>
              <button (click)="delete(s.id!)"><span class="material-icons">delete</span>Supprimer</button>
              <button (click)="viewDetail(s.id!)"><span class="material-icons">visibility</span>Détails</button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (!loading && selectedAgenceId) {
    <p>Aucun staff trouvé pour cette agence.</p>
  }
  @if (!loading && staffList.length === 0) {
    <p>Aucun staff enregistré.</p>
  }


</div>
