<div class="container">
  <div class="head">
    <img src="assets/images.png" alt="CCA logo" class="logo">
    <h2> Customer_Feedback Form CCA Bank </h2>
  </div><br>

  <div>
    @if (feedback){

      <form (ngSubmit)="submit()" >

        <input type="text" name="customerName" [(ngModel)]="feedback.customerName"
               placeholder="Nom du client">

        <input type="text" name="customerPhone" [(ngModel)]="feedback.customerPhone"
               placeholder="Téléphone">

        <input type="hidden" [(ngModel)]="feedback.staff_id" name="staff_id">

        @for (q of feedback.questions; track q.id){
        <div class="question">
          <ol>
            <li>
              <label>{{ q.labelQuestion }}</label>
            </li>

            @if (q.inputType === InputType.SELECT_OPT){
            <select>
              @for (p of q.propositions; track p.id){
              <option>
                {{ p.label }}
              </option>
              }
            </select>
            }

            @if (q.inputType === this.InputType.RADIO_BUTTON){
            <div>
              @for (p of q.propositions; track p.id){
                <input type="radio" name="q{{q.id}}">
                <label> {{ p.label }} </label>
              }
            </div>
          }
            @if (q.inputType === InputType.NUMBER){
            <input type="number">
            }

            @if (q.inputType === InputType.TEXT) {
              <input type="text">
            }
        </ol>

        </div>
        }

        <textarea name="comment"
                  [(ngModel)]="feedback.comment"
                  placeholder="Votre commentaire ici">
        </textarea>

        <button type="submit">Envoyer</button>
      </form>
    }
  </div>

</div>
<app-footer-component></app-footer-component>
