<div class="container">

  <h2>Gestion des Agences</h2>

  <form (ngSubmit)="submit()" class="agence-form">
    <input type="text" [(ngModel)]="newAgence.agenceMatriculate" name="agenceMatriculate" placeholder="Matricule de l'agence" required>
    <input type="text" [(ngModel)]="newAgence.agenceCity" name="agenceCity" placeholder="Ville de l'agence" required>
    <input type="text" [(ngModel)]="newAgence.agenceLocation" name="agenceLocation" placeholder="Localisation" required>

    <button type="submit">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>

    @if (editMode) {
      <button type="button" (click)="resetForm()">Annuler</button>
    }
  </form>

  <hr>

  @if (!loading && errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  @if (!loading && agences.length > 0) {
    <table class="table">
      <thead>
      <tr>
<!--        <th>ID</th>-->
        <th>Matricule</th>
        <th>Ville</th>
        <th>Localisation</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (ag of agences; track ag.id) {
          <tr>
<!--            <td>{{ ag.id }}</td>-->
            <td>{{ ag.agenceMatriculate }}</td>
            <td>{{ ag.agenceCity }}</td>
            <td>{{ ag.agenceLocation }}</td>
            <td>
              <div class="action-buttons">
                <button><span (click)="edit(ag)" class="material-icons">edit</span></button>
                <button><span (click)="delete(ag.id!)" class="material-icons">delete</span></button>
                <button><span (click)="viewDetail(ag.id!)" class="material-icons">visibility</span></button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table><br>

    <button class="btn" (click)="order()">Classification des Agences</button>

    <div class="pagination-controls">
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>&nbsp;
      <button class="pagination-btn" (click)="goToPage(0)" [disabled]="currentPage === 0">First</button>&nbsp;
      <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>&nbsp;
      @for (page of getVisiblePages(); track page){
        <button class="pagination-btn page-number" [class.active]="(page) === currentPage" (click)="goToPage(page)"> {{ page + 1 }} </button>&nbsp;
      }
      <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>&nbsp;
      <button class="pagination-btn" (click)="goToPage(totalPages - 1)" [disabled]="currentPage === totalPages - 1">Last</button>
    </div>

    <div class="page-size-selector">
      <label for="pageSize">Items/page:</label>
      <select
        id="pageSize"
        (change)="changePageSize($any($event.target).value)"
        class="page-size-select">
        @for (size of pageSizeOptions; track size){
          <option [value]="size" [selected]="size === itemsByPage"> {{size}} </option>
        }
      </select>

      <label for="pageNo">Page:</label>
      <select id="pageNo" (change)="goToPage($any($event.target).value)" class="page-size-select">
        @for (page of getPageNumbers(); track page){
          <option [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
        }
      </select>
    </div>
  }


  @if (!loading && agences.length === 0) {
    <p>Aucune agence enregistrée.</p>
  }

</div>
