.navbar {
  width: 100%;
  height: 60px;
  background: #710f90;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 100;

}
.left {
  display: flex;
  align-items: center;
}
.logo {
  height: 85px;
  width: auto;
  object-fit: contain;
  display: block;
}
.account {
  display: flex;
  align-items: center;
  gap: 10px;
}
.account-btn {
  background: white;
  color: #710f90;
  border: none;
  padding: 6px 10px;
  min-width: 80px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 400;
  transition: 0.3s;
}
.account-btn:hover {
  background: #e3e3e3;
}
