<div class="container">
  <div class="head">
    <img src="../../../assets/images.png" alt="CCA logo" class="logo">
    <h2> Customer_Feedback Form CCA Bank </h2>
  </div> <br>

  <div>
    @if (feedback){

      <form (ngSubmit)="submit(form)" #form="ngForm">

        <input required type="text" name="customerName" [(ngModel)]="feedback.customerName"
               placeholder="Nom du client">

        <input required type="text" name="customerPhone" [(ngModel)]="feedback.customerPhone"
               placeholder="Téléphone">

        <input type="hidden" [(ngModel)]="feedback.staff_id" name="staff_id">

        <ol class="question">
          @for (q of feedback.questions; track q.id; let i = $index){


            <li>
                <label>{{ q.labelQuestion }}</label>

                @if (q.inputType === InputType.SELECT_OPT) {

                  <select name="q{{q.id}}" [(ngModel)]="feedback.responses[i].selectedLabel" required>
                    <option value=""> ... Sélectionner ... </option>
                    @for (p of q.propositions; track $index){
                      <option [value]="p.label">
                        {{ p.label }}
                      </option>
                    }
                    </select>

                }

                @if (q.inputType === this.InputType.RADIO_BUTTON){
                  <div>
                    @for (p of q.propositions; track $index){
                      <input type="radio" name="q{{q.id}}" [value]="p.label"
                        [(ngModel)]="feedback.responses[i].selectedLabel">
                      <label>{{ p.label }}</label>
                    }

                  </div>
                }
                @if (q.inputType === InputType.NUMBER){
                  <input type="number" name="q{{q.id}}" [(ngModel)]="feedback.responses[i].value"
                    required>
                }

              </li>

          }
        </ol>
        <textarea name="comment"
                  [(ngModel)]="feedback.comment"
                  placeholder="Votre commentaire ici">
        </textarea>

        <button type="submit" [disabled]="isSubmitting || !form.valid">Envoyer</button>
      </form>
    }

    @if (errorMsg){
    <div class="error">
      {{ errorMsg }}
    </div>
    }

  </div>

</div>
<app-footer-component></app-footer-component>
