<div class="container">

  <h2>Gestion des Feedbacks</h2>

  @if (!loading && errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  @if (!loading && feedbackList.length > 0) {
    <table class="table">
      <thead>
      <tr>
<!--        <th>ID</th>-->
        <th>Nom du client</th>
        <th>Telephone client</th>
        <th>Commentaires</th>
        <th>Staff</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (fd of feedbackList; track fd.id) {
          <tr>
<!--            <td>{{ fd.id }}</td>-->
            <td>{{ fd.customerName }}</td>
            <td>{{ fd.customerPhone }}</td>
            <td>{{ fd.comment }}</td>
            <td>{{ fd.staff_id?.staffName }}</td>
            <td>
              <div class="action-buttons">
                <button><span (click)="delete(fd.id!)" class="material-icons">delete</span></button>
                <button><span (click)="viewDetail(fd.id!)" class="material-icons">visibility</span></button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table><br>

    <div class="pagination-controls">
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>&nbsp;
      <button class="pagination-btn" (click)="goToPage(0)" [disabled]="currentPage === 0">First</button>&nbsp;
      <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>&nbsp;
      @for (page of getVisiblePages(); track page){
        <button class="pagination-btn page-number" [class.active]="(page) === currentPage" (click)="goToPage(page)"> {{ page + 1 }} </button>&nbsp;
      }
      <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>&nbsp;
      <button class="pagination-btn" (click)="goToPage(totalPages - 1)" [disabled]="currentPage === totalPages - 1">Last</button>
    </div>

    <div class="page-size-selector">
      <label for="pageSize">Items/page:</label>
      <select
        id="pageSize"
        (change)="changePageSize($any($event.target).value)"
        class="page-size-select">
        @for (size of pageSizeOptions; track size){
          <option [value]="size" [selected]="size === itemsByPage"> {{size}} </option>
        }
      </select>

      <label for="pageNo">Page:</label>
      <select id="pageNo" (change)="goToPage($any($event.target).value)" class="page-size-select">
        @for (page of getPageNumbers(); track page){
          <option [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
        }
      </select>
    </div>

  }


  @if (!loading && feedbackList.length === 0) {
    <p>Aucun feedback disponible.</p>
  }

</div>

