<div class="container">

  <h2>Gestion des Feedbacks</h2>

  @if (!loading && errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  @if (!loading && feedbackList.length > 0) {
    <table class="table">
      <thead>
      <tr>
<!--        <th>ID</th>-->
        <th>Nom du client</th>
        <th>Telephone client</th>
        <th>Commentaires</th>
        <th>ID staff</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (fd of feedbackList; track fd.id) {
          <tr>
<!--            <td>{{ fd.id }}</td>-->
            <td>{{ fd.customerName }}</td>
            <td>{{ fd.customerPhone }}</td>
            <td>{{ fd.comment }}</td>
            <td>{{ fd.staff_id?.staffName }}</td>
            <td>
              <div class="action-buttons">
                <button><span (click)="delete(fd.id!)" class="material-icons">delete</span></button>
                <button><span (click)="viewDetail(fd.id!)" class="material-icons">visibility</span></button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table><br>

  }


  @if (!loading && feedbackList.length === 0) {
    <p>Aucun feedback disponible.</p>
  }

</div>

