.container {
  width: 50%;
  margin: auto;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    font-size: 15px;
    transition: 0.2s;

    &:focus {
      border-color: #710f90;
      box-shadow: 0 0 7px rgba(25, 118, 210, .3);
    }


  }
  }


button {
  padding: 12px;
  background: #710f90;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background: #710f90;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table th {
  background: #f3f3f3;
}
