<div class="container">

  <h2>Gestion des Agences</h2>

  <form (ngSubmit)="submit()" class="agence-form">
    <input type="text" [(ngModel)]="newAgence.agenceCity" name="agenceCity" placeholder="Ville de l'agence" required>
    <input type="text" [(ngModel)]="newAgence.agenceLocation" name="agenceLocation" placeholder="Localisation" required>

    <button type="submit">{{ editMode ? 'Modifier' : 'Ajouter' }}</button>

    @if (editMode) {
      <button type="button" (click)="resetForm()">Annuler</button>
    }
  </form>

  <hr>

  @if (agences.length > 0) {
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Ville</th>
        <th>Localisation</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (ag of agences; track ag.id) {
          <tr>
            <td>{{ ag.id }}</td>
            <td>{{ ag.agenceCity }}</td>
            <td>{{ ag.agenceLocation }}</td>
            <td>
              <button (click)="edit(ag)">Modifier</button>
              <button (click)="delete(ag.id!)">Supprimer</button>
              <button (click)="viewDetail(ag.id!)">Détails</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  @if (agences.length === 0) {
    <p>Aucune agence enregistrée.</p>
  }

</div>
