.footer {
  width: 100%;
  height: 100px;
  background: #710f90;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.15);
}
