<div class="container">

  <h2>Liste des staffs de cette agence</h2>

  @if (!loading && errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  @if (!loading && staffList.length > 0) {
    <table class="table">
      <thead>
      <tr>
<!--        <th>ID</th>-->
        <th>Nom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Matricule</th>
        <th>Agence</th>
        <th>Score</th>
      </tr>
      </thead>

      <tbody>
        @for (s of staffList; track s.id) {
          <tr>
<!--            <td>{{ s.id }}</td>-->
            <td>{{ s.staffName }}</td>
            <td>{{ s.staffPhone }}</td>
            <td>{{ s.staffEmail }}</td>
            <td>{{ s.matricule }}</td>
            <td>{{ s.agence_id.agenceLocation }}</td>
            <td> <strong>{{ s.average  | number:'1.1-2': 'fr-FR'}}/5</strong></td>
          </tr>
        }
      </tbody>
    </table><br>

  }

  @if (!loading && staffList.length === 0) {
    <p>Aucun staff disponible.</p>
  }

  <button (click)="back()"> <span> << </span>Retour</button>

</div>
