.sidebar {
  width: 200px;
  height: 100vh;
  background: white;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  position: fixed;
  top: 60px;
  transition: 0.3s ease;


}
.sidebar.collapsed {
  width: 50px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 14px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.3s;
}
li:hover {
  background: #710f90;
  color: black;
}
.text {
  transition: opacity 0.3s;
}
.sidebar.collapsed .text {
  opacity: 0;
  pointer-events: none;
}
.toggle-btn {
  position: absolute;
  top: 10px;
  right: -15px;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;

  &:hover {
    background: #710f90;
    transform: translateY(-1px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  }

}
