.container {
  width: 50%;
  margin: auto;
  padding: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #692c8a;
}
button {
  margin-top: 14px;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  gap: 5px;
  border-radius: 8px;

  &:hover {
    background: #710f90;
    transform: translateY(-1px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  }
}
