<div class="container">

  <h2>Agences Triées par Score</h2>

  @if (agences.length > 0){
  <table>
    <thead>
    <tr>
<!--      <th>ID</th>-->
      <th>Matricule</th>
      <th>Ville</th>
      <th>Localisation</th>
      <th>Score</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
      @for (ag of agences; track ag.id){
        <tr>
<!--          <td>{{ ag.id }}</td>-->
          <td>{{ ag.agenceMatriculate }}</td>
          <td>{{ ag.agenceCity }}</td>
          <td>{{ ag.agenceLocation }}</td>
          <td>
            <strong>{{ ag.average | number:'1.1-2': 'fr-FR' }}/5</strong>
          </td>
          <td>
            <div class="action-buttons">
              <button><span (click)="viewDetail(ag.agenceLocation!)" class="material-icons">visibility</span></button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
  }

  @if (agences.length === 0){
    <p>Aucune agence trouvée.</p>
  }

  <button (click)="back()"> <span> << </span>Retour</button>

</div>
