.container {
  width: 50%;
  margin: auto;
  padding: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f1f1f1;
}
