<div class="detail-container">

  <h2>Détails du Feedback</h2>

  <div class="card">
    <p><strong>ID :</strong> {{ feedback.id }}</p>
    <p><strong>Nom du client :</strong> {{ feedback.customerName }}</p>
    <p><strong>Téléphone du client:</strong> {{ feedback.customerPhone }}</p>
    <p><strong>Commentaire :</strong> {{ feedback.comment }}</p>
    <p><strong>ID Staff :</strong> {{ feedback.staff_id?.staffName }}</p>
    <p><strong>Score du feedback :</strong> {{ averageScore | number:'1.1-2': 'fr-FR'}}/5 </p><br>
    <strong>Reponses :</strong>
    @for (res of feedback.responses; track res.id) {
      <ol>
        @for (qr of feedback.questions; track qr.id){
        <li>
          <b>questionID :</b> {{ qr.labelQuestion }}
        </li>
        }
        <li>
          <b>proposition selectionnée :</b> {{ res.selectedLabel }}
        </li>
        <li>
          <b>Score ou valeur correspondante:</b> {{ res.value }}
        </li>
      </ol><hr>
    }


  </div>

  <button (click)="back()"> <span> << </span>Retour</button>

</div>

