.container {
  width: 50%;
  margin: 25px auto;
  padding: 20px;




  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input, select {
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    font-size: 15px;
    transition: 0.2s;

    &:focus {
      border-color: #710f90;
      box-shadow: 0 0 7px rgba(25,118,210,.3);
    }
  }

  .submit {
    padding: 12px;
    background: #710f90;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background: #710f90;
    }
  }
}

.propositions {
  background: #f7f9fc;
  padding: 15px;
  border-radius: 12px;

  h3 {
    margin-bottom: 10px;
  }

  .prop-item {
    display: grid;
    grid-template-columns: 1fr 100px 40px;
    gap: 10px;
    margin-bottom: 10px;

    .remove {
      background: #d32f2f;
      border: none;
      color: white;
      border-radius: 8px;
      cursor: pointer;
    }
  }

  .add {
    background: #2e7d32;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
}

.table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    background: #710f90;
    color: white;
  }
}

