.container {
  width: 50vw;
  margin: auto;
  padding: 50px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.action-buttons button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  background: #692c8a;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.action-buttons button:hover {
  background: #5a0c6f;
}

.material-icons {
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input{
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid #ddd;
    font-size: 15px;
    transition: 0.2s;

    &:focus {
      border-color: #710f90;
      box-shadow: 0 0 7px rgba(25, 118, 210, .3);
    }


  }
}


button {
  padding: 12px;
  background: #710f90;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background: #710f90;
  }
}

.table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background: #fff;

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  th {
    color: black;
    background: #f2f2f2;
  }
}


