<div class="container">

  <h2>Gestion du Personnel (Staff)</h2>

<!--  <div class="filter-box">-->
<!--    <label>Rechercher par agence :</label>-->
<!--    <input type="number"-->
<!--           placeholder="ID agence"-->
<!--           [(ngModel)]="selectedAgenceId"-->
<!--           (change)="loadStaffByAgence()">-->
<!--  </div>-->
<!--  <hr>-->

  <form [formGroup]="staffForm" (ngSubmit)="submit()">
    <input type="text" formControlName="staffName" placeholder="Nom du staff">

    <input type="text" formControlName="staffPhone" placeholder="Téléphone 9 chiffres">

    <input type="email" formControlName="staffEmail" placeholder="Email">

    <input type="text" formControlName="matricule" placeholder="Matricule">

    <input type="number" formControlName="agence_id" placeholder="ID de l'agence">

    <button type="submit">
      {{ editMode ? 'Modifier' : 'Ajouter' }}
    </button>

    @if (editMode) {
      <button type="button" (click)="resetForm()">Annuler</button>
    }
  </form>

  <hr>


  @if (!loading && errorMsg) {
    <p class="error">{{ errorMsg }}</p>
  }

  @if (!loading && staffList.length > 0) {
    <table class="table">
      <thead>
      <tr>
<!--        <th>ID</th>-->
        <th>Nom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Matricule</th>
        <th>Agence</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        @for (s of staffList; track s.id) {
          <tr>
<!--            <td>{{ s.id }}</td>-->
            <td>{{ s.staffName }}</td>
            <td>{{ s.staffPhone }}</td>
            <td>{{ s.staffEmail }}</td>
            <td>{{ s.matricule }}</td>
            <td>{{ s.agence_id.agenceLocation }}</td>

            <td>
              <div class="action-buttons">
              <button><span (click)="edit(s)" class="material-icons">edit</span></button>
              <button><span (click)="delete(s.id!)" class="material-icons">delete</span></button>
              <button><span (click)="viewDetail(s.id!)" class="material-icons">visibility</span></button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table><br>

    <button class="btn" (click)="order()">Classification des Staffs</button>

    <div class="pagination-controls">
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>&nbsp;
      <button class="pagination-btn" (click)="goToPage(0)" [disabled]="currentPage === 0">First</button>&nbsp;
      <button class="pagination-btn" (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>&nbsp;
      @for (page of getVisiblePages(); track page){
        <button class="pagination-btn page-number" [class.active]="(page) === currentPage" (click)="goToPage(page)"> {{ page + 1 }} </button>&nbsp;
      }
      <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">Next</button>&nbsp;
      <button class="pagination-btn" (click)="goToPage(totalPages - 1)" [disabled]="currentPage === totalPages - 1">Last</button>
    </div>

    <div class="page-size-selector">
      <label for="pageSize">Items/page:</label>
      <select
        id="pageSize"
        (change)="changePageSize($any($event.target).value)"
        class="page-size-select">
        @for (size of pageSizeOptions; track size){
          <option [value]="size" [selected]="size === itemsByPage"> {{size}} </option>
        }
      </select>

      <label for="pageNo">Page:</label>
      <select id="pageNo" (change)="goToPage($any($event.target).value)" class="page-size-select">
        @for (page of getPageNumbers(); track page){
          <option [value]="page" [selected]="page === currentPage">{{ page + 1 }}</option>
        }
      </select>
    </div>
  }

  @if (!loading && staffList.length === 0) {
    <p>Aucun staff enregistré.</p>
  }


</div>
